body {
    font-size: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.playerInfo {
    width : 20%;
    height : 100%;
    float: left;
    display: block;
}

#opponentInfo {
    width : 20%;
    height : 100%;
    float: left;
    display: block;
}

#centerPanel {
    width : 60%;
    height : 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#energy-pool {
    float : left;
    width : 100%;
}

#spent {
    float : left;
    width : 100%;
}

.left-text {
    float : left;
}

.RANDOM {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
    background-color : black;
}

.STRENGTH {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
    background-color : maroon;
}

.DEXTERITY {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
    /* background-color : mediumseagreen; */
    background-color : gold;
    
}

.ARCANA {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
    background-color : cornflowerblue;
    
}

.DIVINITY {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
    background-color : white;
    
}

.energy {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
    border-style : solid;
    border-color : black;
}

.energy-strength {
    background-color : maroon;
}

.energy-dexterity {
    /* background-color : mediumseagreen; */
    background-color : gold;
}

.energy-arcana {
    background-color : cornflowerblue;
}

.energy-divinity {
    background-color : white;
}

.energyTradeInput {
    width : 10px;
    height : 10px;
    margin : 3px;
    float : left;
    border-width : 1px 1px 1px 1px;
    border-radius : 2px;
}


#pre-battle {
    width : 100%;
}

#character-select {
    width : 100%;
}

#battle-select {
    width : 100%;
}

#battleDiv {
    width : 90%;
    height : 100%;
}

#battle {
    width : 100%;
    height : 100%;
}


/* Images Sizes */



.ally-portrait-small {
    width : 50px;
    height : 50px;
}

.ally-portrait {
    width : 75px;
    height : 75px;
}

.enemy-portrait {
    width : 75px;
    height : 75px;
}

.ally-ability-portrait {
    width : 50px;
    height : 50px;
}

#player-portrait {
    width : 75px;
    height : 75px;
}

#opponent-portrait {
    width : 75px;
    height : 75px;
}


/* ALLIES AND ENEMIES */

.ally-info {
    height: 100%;
    width: 25%;
    float: left;
}

.abilities {
    width : 50%;
    height : 100%;
    float : left
}

.battle-allies {
    float :left;
    width : 100%;
}

.battle-enemies {
    float : right;
    width : 100%;
}

.enemy-info {
    width: 25%;
    height : 100%;
    float : right;
}

.ally-ability {
    height: 100%;
    width: 25%;
    border : 2px;
    float : left;
}

.ally-abilities {
    height: 100px;
    width: 100%;
    float : left;
}

#enemies {
    height : 100%;
    width : 30%;
}

.ally-info-effects {
    width: 30%;
    float : right;
}

.enemy-info-effects {
    width : 30%;
    float : left;
}

.ally-info-portrait {
    float : left;
}


.enemy-info-portrait {
    float : right;
}

.effect {
    height : 20px;
    width : 20px;
}

.ally-effect {
    float : left;
}

.enemy-effect {
    float : right;
}

.remove-button {
    width : px;
    font-size : 11px;
}

.reel-effect-name {
    width : 75px;
    font-size: 11px;
}

#header {
    position : fixed;
    left : 10%;
    width : 90%;
    height : 20%;
}

#body {
    position : fixed;
    left : 10%;
    top : 30%;
    width : 90%;
    height : 40%;
}

/* FOOTER */

#surrender {

}

#surrenderImSure {
    float : right;
}

#surrenderImNotSure {
    float : right;
}

#volume {
    width : 50%;
}

#volumeControls {
    float : right;
    padding-right : 10%;
}

#footer {
    position : fixed;
    left : 10%;
    top : 80%;
    width : 90%;
    height : 30%;
}

#abilityTargets{
    float : right;
}

#abilityTypes{
    float : right;
}

#actionsHeader {
    float : left;
}

#actionsFooter {
    float : left;
}

#timer {
    float : left;
}

#energy {
    float : left;
}

#abilityWindow {
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

#chosenAbilities {
    float : right;
}

#abilityInfo {
    float : left;
    width : 60%;
}



/* COPIED FROM DRAG DROP LIST */

.example-list {
    width: 92%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow-x: scroll;
  }
  
  .example-box {
    padding: 5px 5px 5px 5px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: white;
    min-height: 100px;
    min-width: 50px;
    font-size: 12px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
