<div id="splashscreen">
    <div *ngIf="!loginButton && !signupButton">
        <button (click)="showLogin()">
            LOGIN
        </button>
        <button (click)="showSignup()">
            SIGNUP
        </button>
    </div>
    <div *ngIf="loginButton && !signupButton">
        <input [(ngModel)]="playerNameOrEmail" placeholder="Display Name or Email Address"/>
        <input [(ngModel)]="playerPassword" placeholder="Password" type=password/>
        <button (click)="login()">
            LOGIN
        </button>
    </div>
    <div *ngIf="signupButton && !loginButton">
        <input [(ngModel)]="playerEmail" placeholder="Email Address"/>
        <br />
        <input [(ngModel)]="playerPassword" placeholder="Password" type=password/>
        <br />
        <input [(ngModel)]="playerPasswordConfirm" placeholder="Confirm Password" type=password/>
        <br />
        OPTIONAL
        <br />
        <input [(ngModel)]="playerName" placeholder="Display Name"/>
        <br />
        <input [(ngModel)]="playerAvatarUrl" placeholder="Avatar URL"/>
        <br />
        <button (click)="signup()">
            SIGNUP
        </button>
    </div>
</div>