<div id="nav">
NAV COMPONENT
    <div>
        <button (click)="goHome()" >HOME</button>
    </div>
    <div *ngIf="loggedIn" >
        <button (click)="goLogout()" >LOGOUT</button>
    </div>
    <div *ngIf="!loggedIn" >
        <button (click)="goLogin()" >LOGIN</button>
    </div>
    <div *ngIf="loggedIn" >
        <button (click)="goArena()" >ARENA</button>
    </div>
    <div *ngIf="loggedIn" >
        <button (click)="goMissions()" >MISSIONS</button>
    </div>
    <div *ngIf="loggedIn" >
        <button (click)="goCharacters()" >CHARACTERS</button>
    </div>
</div>