
<div id="battleDiv">
  <div id="battle">
    <div id="header">

      <div class="playerInfo">
        <img [src]="player.avatarUrl" id="player-portrait">
        <br>
        {{ player.displayName }}
      </div>

      <div id="centerPanel">

          <div id="timer">
            <div id="volumeControls">
              <span>
                <input type="range" id="volume" min="0" max="1.0" step="0.1" value="0.5" [(ngModel)]="volume">
              </span>
              <span>
                <fa-icon [icon]="faVolumeUp"></fa-icon>
              </span>
              <div>
                TIME LEFT: {{ timeLeft | async }}
              </div>
            </div>
          </div>

          <div *ngIf="hasTurn" id="energy">
            
            <div id="energy-pool">
              <span id="turn-energy">
              <!-- <div class="left-text">TOTAL ENERGY: {{ totalEnergy }}</div> -->
                <div class="left-text">ENERGY:
                  <div *ngFor="let energy of turnEnergy" (click)="spendEnergy(energy, false)">
                    <div *ngIf="energy === 'DIVINITY'" class="energy energy-divinity"> 

                    </div>
                    <div *ngIf="energy === 'ARCANA'" class="energy energy-arcana"> 

                    </div>
                    <div *ngIf="energy === 'DEXTERITY'" class="energy energy-dexterity"> 

                    </div>
                    <div *ngIf="energy === 'STRENGTH'" class="energy energy-strength"> 

                    </div>
                  </div>
                </div>

                <div class="right-text">SPENT:
                  <div *ngFor="let energy of spentEnergy" (click)="returnEnergy(energy, false)">
                    <div *ngIf="energy === 'DIVINITY'" class="energy energy-divinity"> 

                    </div>
                    <div *ngIf="energy === 'ARCANA'" class="energy energy-arcana"> 

                    </div>
                    <div *ngIf="energy === 'DEXTERITY'" class="energy energy-dexterity"> 

                    </div>
                    <div *ngIf="energy === 'STRENGTH'" class="energy energy-strength"> 

                    </div>
                  </div>
                </div>
              </span>
            </div>
            
            <br>

            <span *ngIf="randomsNeeded > 0"> {{ randomsNeeded }} MORE ENERGY NEEDED</span>
            
          </div>

          <div id="actionsHeader">
            
            <div *ngIf="hasTurn">
              <button (click)="clickEnergyTrade()" [disabled]="!hasTurn || abilitiesAreChosen()">
                Trade
              </button>
              <input class="energyTradeInput" type="radio" [(ngModel)]="energyTrade" id="divinityTrade" value="DIVINITY">
              <div class="energy energy-divinity"></div>
              <input class="energyTradeInput" type="radio" [(ngModel)]="energyTrade" id="arcanaTrade" value="ARCANA">
              <div class="energy energy-arcana"></div>
              <input class="energyTradeInput" type="radio" [(ngModel)]="energyTrade" id="dexterityTrade" value="DEXTERITY">
              <div class="energy energy-dexterity"></div>
              <input class="energyTradeInput" type="radio" [(ngModel)]="energyTrade" id="strengthTrade" value="STRENGTH">
              <div class="energy energy-strength"></div>
            </div>

            <br>
            <div>
              <button (click)="sendTurnEnd()" [disabled]="!hasTurn">
                Finish Turn
              </button>
              <input type="button" id="surrender" (click)="this.areYouSure()" value="SURRENDER" >
              <span *ngIf="showAreYouSure">
                <input type="button" id="surrenderImSure" (click)="this.surrender()" value="I'M SURE" >
              </span>
              <span *ngIf="showAreYouSure">
                <input type="button" id="surrenderImNotSure" (click)="this.youreNotSure()" value="NO WAY" >
              </span>
            </div>
          </div>
      </div>

      <div id="opponentInfo">
        <img [src]="opponent.avatarUrl" id="opponent-portrait">
        <br>
        {{ opponent.displayName }}
      </div>
    </div>

    <div id="body">

          <div class="ally-info">
            <div *ngFor="let ally of battleAllies" class="battle-allies">
              <div class="ally-info-portrait">
                <img [ngStyle]="getCharacterPortrait(ally).style" [src]="getCharacterPortrait(ally).url" class="ally-portrait" (click)="clickTarget(ally.position)">        
                <div>
                  {{ ally.hp }} / 100
                </div>
              </div>

              <div class="ally-info-effects">
                <span *ngFor="let effect of parseHiddenEffects(ally)" class="effect ally-effect">
                  <span [matTooltip]="effectStringParser(effect)" matTooltipClass="my-tooltip">
                    <img [src]="imgPrefix + effect.avatarUrl">
                  </span>
                </span>
              </div>
            </div>
          </div>
          
          <div class="abilities">
            <div *ngFor="let ally of tempAllies" class="ally-abilities">
              <div *ngFor="let ability of ally.abilities" class="ally-ability" (mouseleave)="hideAbilityPanel(false)" (mouseenter)="showAbilityInfo(ability)" (click)="clickAbility(ability)">
                <img [ngStyle]="getAbilityStyle(ability)" [src]="imgPrefix + ability.abilityUrl" class="ally-ability-portrait">
              </div>
            </div>
          </div>

          <div class="enemy-info">
            <div *ngFor="let enemy of battleEnemies" class="battle-enemies">

              <div class="enemy-info-effects">
                <span *ngFor="let effect of parseHiddenEffects(enemy)" class="effect enemy-effect">
                  <span [matTooltip]="effectStringParser(effect)" matTooltipClass="my-tooltip">
                    <img [src]="imgPrefix + effect.avatarUrl">
                  </span>
                </span>
              </div>

              <div class="enemy-info-portrait">
                <img [ngStyle]="getCharacterPortrait(enemy).style" [src]="getCharacterPortrait(enemy).url"  (click)="clickTarget(enemy.position)" class="enemy-portrait">
                <div>
                  {{ enemy.hp }} / 100
                </div>
              </div>
              <br>
  
            </div>
          </div>

    </div>

    <div id="footer">

      <div id="abilityWindow">

        <div id="abilityInfo">
          <div *ngIf="hoveredAbility">
            <div *ngIf="abilityCurrentlyClicked" id="actionsFooter">
              <button (click)="clickCancel()" [disabled]="!hasTurn">
                Cancel
              </button>
            </div>
            <div *ngFor="let energy of hoveredAbility.cost" id="abilityCost" [class]="energy">
            </div>
            <span>{{ hoveredAbility.name }}</span>
            <span id="abilityTargets">Targets: {{ hoveredAbility.targets }}</span>
            <br>
            <span>Cooldown: {{ hoveredAbilityCooldown }} /  {{ hoveredAbility.cooldown }}</span>
            <span id="abilityTypes">{{ hoveredAbility.types }}</span>
            <br>
            <span>{{ hoveredAbility.description }}</span>
            <br>
          </div>
        </div>

        <div *ngIf="isReelEmpty()" id="chosenAbilities">
          <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let effect of turnEffects" class="example-box" cdkDrag>
              <img [src]="imgPrefix + effect.avatarUrl" class="ally-ability-portrait">
              <span class="reel-effect-name">
                {{ effect.name }}
              </span>
              <button class="remove-button" *ngIf="effect.instanceId < 0" (click)="removeAbilityFromReel(effect)"> REMOVE </button> 
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>