<div>
  <div *ngIf="!inBattle" id="pre-battle">
    <input [(ngModel)]="opponentName" placeholder="Opponent's Name"/>
    <br>
    <div id="character-select">
      <img *ngFor="let char of allCharacters" (click)="addCharacter(char.id)" [src]="char.avatarUrl" class="ally-portrait-small">
    </div>

    <div>
      TEAM:
    </div>
    <div *ngFor="let ally of allies">
      <img [src]="ally.avatarUrl" class="ally-portrait-small" (click)="removeCharacter(ally.id)">
    </div>

    <button (click)="findBattle()">
      FIND BATTLE
    </button>
  </div>

  <div *ngIf="inBattle" id="battle">
    <div id="header">
      <div id="playerInfo">
        <img [src]="player.avatarUrl" id="player-portrait">
        {{ player.displayName }}
      </div>

      <div id="centerPanel">
        <div id="timer">
        </div>

        <div id="resources">
          <div id="energy">
          </div>

          <div id="spent">
          </div>

          <div id="actions">
            <button>
              Trade
            </button>
            <button>
              Finish Turn
            </button>
          </div>
        </div>
      </div>

      <div id="opponentInfo">
        {{ opponent.displayName }}
        <img [src]="opponent.avatarUrl" id="opponent-portrait">
      </div>
    </div>

    <div id="body">
      <div id="allies">
        <div class="ally" *ngFor="let ally of allies">
          <div class="ally-info">
            <img [src]="ally.avatarUrl" class="ally-portrait">
            {{ ally.name }}
          </div>
          <div class="ally-abilities">
            <div class="ally-ability">
              <img [src]="ally.slot1.abilityUrl" class="ally-ability-portrait">
              <div>
                {{ ally.slot1.name }}
              </div>
            </div>
            <div class="ally-ability">
              <img [src]="ally.slot2.abilityUrl" class="ally-ability-portrait">
              <div>
                {{ ally.slot2.name }}
              </div>
            </div>
            <div class="ally-ability">
              <img [src]="ally.slot3.abilityUrl" class="ally-ability-portrait">
              <div>
                {{ ally.slot3.name }}
              </div>
            </div>
            <div class="ally-ability">
              <img [src]="ally.slot4.abilityUrl" class="ally-ability-portrait">
              <div>
                {{ ally.slot4.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="enemies">
        <div class="enemy" *ngFor="let enemy of enemies">
          <div class="enemy-info">
            <img [src]="enemy.avatarUrl" class="enemy-portrait">
          </div>
          {{ enemy.name }}
        </div>
      </div>
    </div>
</div>