<div>
 PLAYER COMPONENT
</div>

<div class="playerInfo" *ngIf="this.loginStore.getPlayer() | async">
    <img [src]="player.avatarUrl" id="player-portrait">
    <br>
    {{ player.displayName }}
    <br>
    Level: {{ player.level }}
    <br>
    {{ player.xp }}/100 XP
    <br>
    Unlocked Characters:<span *ngFor="let charId of player.characterIdsUnlocked">{{ charId }}, </span>
    <br>
    <div *ngFor="let prog of player.missionProgress">
        <span *ngIf="prog.missionId !== 0">
            Mission: {{ prog.missionId }}
            <div *ngFor="let req of prog.requirements">
                Wins with {{ req.userFaction }} vs {{ req.targetFaction }} : {{ req.amount }} / Total
            </div>
        </span>
    </div>
</div>